<%- include('./partials/head.ejs') %>
<% selectedContracts.forEach(contract => { %>
  <section id="services" aria-label="services">
  <div class="services">
    <div class="pricing-table">
      <div class="head">
        <h3 class="title"><%= contract.name %></h3>
      </div>
      <div class="content">
        <div class="price">
          <h4>€<%- contract.list_price %></h4>
        </div>
        <ul>
          <% activityTranslations.data.forEach(activityTranslation => { %>
            <% const activity = activityTranslation.activity; %>
            <li><i class="fa fa-check" aria-hidden="true"></i>
              <%- activityTranslation.title %>
            </li>
          <% }); %>
        </ul>
        <div class="sign-up">
          <a href="#" class="btn bordered radius">Selecteer dit plan</a>
        </div>
      </div>
    </div>
  </div>
</section>
<% }); %>

  


<%- include('./partials/foot.ejs') %>
